*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #254B7C;
  --secondary-color: #0F9BDC;
  --tri-color: #EBAC78;
  --white-color: #f5f5f5;
  --dark-color: rgba(0, 0, 0, 0.66);
  --main-font: "Montserrat", sans-serif;
  --header-font: "Montserrat Alternates", sans-serif;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  overflow-x: hidden;
}
.main-bg {
  background: url(imgs/mainbg.png);
  background-position: center;
  background-size: cover;
}
header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 1em;
}
nav {
  padding: 0.5em;
  width: 100%;
  font-family: var(--main-font);
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.logo-div {
  padding-top: 1em;
}
.nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 4em;
  color: white;
  font-weight: bold;
  text-shadow: var(--text-shadow);
}
.nav-link a {
  color: white;
  text-decoration: none;
}
.nav-link a:hover {
  color: var(--main-color);
  transition-duration: 0.3s;
}
.logo-img {
  height: 85px;
  width: 85px;
}
.header-btn {
  text-decoration: none;
  color: white;
  padding: 0.5em;
  font-family: var(--btn-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  max-width: 200px;
  width: 30%;
  background-color: var(--tri-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section {
  padding: 4rem 0;
}
.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.container-hero {
  display: grid;
  min-height: 78vh;
  position: relative;
}

.hero-content {
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 2em;
  width: auto;
  max-width: 90em;
  color: white;
}
.hero-content h1 {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5em;
}
.hero-content h2 {
  font-family: var(--header-font);
  margin-bottom: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  padding: 0.5em 1.5em;
  text-align: center;
  color: #ffffff;
  background: var(--tri-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.hero {
  min-height: 85vh;
}
.info-section {
  padding: 0 0 2em 0;
  background-color: var(--dark-color);
}
.container-info {
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
  padding: 2em 0;
}
.info-header {
  text-align: center;
  color: white;
  font-size: 32px;
  margin-bottom: 2em;
  padding: 1em 0;
}
.grid-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 50px;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 10em;
  height: 100%;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 250px 250px 70px;
  grid-template-areas: "image" "text" "btn"; */
  grid-template-rows: 250px 250px;
  grid-template-areas: "image" "text";
  background: rgba(0, 0, 0, 0.66);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-top: 3em;
  max-width: 450px;
}
.card-icon {
  grid-area: image;
  align-self: flex-start;
  justify-self: center;
  position: absolute;
  top: -5em;
  background-color: black;
  padding: 2em;
  border-radius: 50%;
}
.card-body {
  grid-area: text;
  text-align: center;
  padding: 1em 2em;
  justify-self: center;
  align-self: center;
}
.card-body > h1 {
  font-family: var(--header-font);
  color: var(--white-color);
  font-size: 28px;
  padding-bottom: 0.5em;
}
.card-body > p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.card-img-div {
  grid-area: image;
}
.card-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.img1 {
  border-bottom: solid 3px var(--main-color);
  display: block;
  padding: 0;
}
.img2 {
  border-bottom: solid 3px var(--main-color);
  display: block;
}
.img3 {
  border-bottom: solid 3px var(--main-color);
  display: block;
}
/* .card-btn-div {
  grid-area: btn;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.card-btn {
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 0.5em 4em;
  border-radius: 25px;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary-color);
} */
.aboutwork-section {
  background-color: var(--dark-color);
  padding: 4em 0em;
}
.container-about {
  padding: 0;
  max-width: 95vw;
  overflow-y: hidden;
  background-color: rgba(37, 75, 124, 0.5);
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image" "body";
  border: solid 3px var(--white-color);
}
.image-col {
  grid-area: image;
  max-height: 90vh;
}
.imgLg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.body-col {
  max-height: 90vh;
  align-self: center;
}
.body-div {
  text-align: center;
  padding: 9em;
  color: var(--white-color);
  
}
.body-div > h1 {
  font-size: 5rem;
  font-family: var(--header-font);
  font-weight: bold;
}
.body-div > p {
  margin: 0 auto;
  margin-top: 2em;
  font-size: 2rem;
  font-family: var(--main-font);
  line-height: 230%;
  max-width: 90%;
}
.portfolio-section {
  background-color: var(--dark-color);
  padding: 4em 0em;
}
.container-portfolio {
  padding: 0;
  max-width: 95vw;
  overflow-y: hidden;
  background-color: rgba(37, 75, 124, 0.5);
}
.port-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 3px var(--white-color);
}
.body-col2 {
  grid-column: 1 / 2;
  align-self: center;
  max-height: 90vh;
}
.image-col2 {
  grid-column: 2 / 3;
  display: grid;
  grid-gap: 20px;
  padding: 1em;
  grid-template-columns: 1fr 1fr;
  max-height: 90vh;
  height: 100%;
  align-self: center;
}
.image-col2 > img {
  width: 100%;
  height: 100%;
  
  display: block;
  object-position: center;
  object-fit: cover;
}
.span2 {
  grid-row: span 2;
}
@media only screen and (max-width: 1250px) {
  /* CSS rules here */
  .grid-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(27rem, 1fr));
    grid-gap: 50px;
    justify-content: center;
    align-content: center;
    margin-top: 10em;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  .card-div-3 {
    grid-column: 1 / 3;
    max-width: none;
  }
  .card1 > h1 {
    font-size: 24px;
  }
  .card1 > p {
    font-size: 14px;
  }
  .card2 > h1 {
    font-size: 24px;
  }
  .card2 > p {
    font-size: 14px;
  }
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "image"
    "body";

    max-height: unset;
  }
  .container-about {
    max-width: 90vw;
  }
  .body-div {
    padding: 4em;
  }
  .container-portfolio {
    max-width: 90vw;
  }
  .port-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

  }
  .image-col2 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .body-col2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
@media only screen and (max-width: 650px) {
  /* CSS rules here */
  .grid-info {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
  .card-div-3 {
    grid-column: unset;
  }
  .card1 > h1 {
    font-size: 28px;
  }
  .card1 > p {
    font-size: 16px;
  }
  .card2 > h1 {
    font-size: 28px;
  }
  .card2 > p {
    font-size: 16px;
  }
  .container-about {
    max-width: 99%;
  }
  .body-div > h1 {
    font-size: 3rem;
  }
  .body-div > p {
    font-size: 1.8rem;
    line-height: 170%;
    max-width: unset;
  }
  .container-portfolio {
    max-width: 99%;
  }
  
}
