*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #20152C;
  --secondary-color: #0f9bdc;
  --tri-color: #F64C71;
  --white-color: #f5f5f5;
  --grid-color: #EEEEEE;
  --bg-orange: #EEEEEE;
  --text-color: #262020;
  --dark-color: rgba(0, 0, 0, 0.66);
  --main-font: "Montserrat", sans-serif;
  --header-font: "Montserrat Alternates", sans-serif;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*https://www.sessions.edu/color-calculator-results/?colors=61337a,633259,3e337a
  https://www.sessions.edu/color-calculator-results/?colors=563a8c,a3265c,eb8b41
  https://www.sessions.edu/color-calculator-results/?colors=a3265c,a32a26,8f2b83*/
}
html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  overflow-x: hidden;

}
.main-bg {
  background: url(imgs/mainbg.png);
  background-position: center;
  background-size: cover;
}
header {
  height: auto;
  z-index: 1000;
  /* position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1500; */
}
.sticky {
  background-color: var(--main-color);
  z-index: 999;
  height: 10vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
  transition: 0.6s;
  height: auto;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;

}
.brand-title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: var(--text-shadow);
}
.brand-logo {
  height: 80px;
  width: auto;
}
.navbar-links ul {
  margin: 2em;
  padding: 0;
  display: flex;
}
.navbar-links li:not(:last-child) {
  margin-right: 3em;
}
.navbar-links:last-child {
  margin-right: 1em;
}
.navitem {
  list-style: none;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.navlink,
.current {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  border: none;
  font-size: 1.5rem;
  position: relative;
}
.navlink::before,
.current::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.1rem;
  background-color: var(--secondary-color);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 650ms;
}
.current::before {
  transform: scaleX(1);
}
.navlink:hover::before {
  transform: scaleX(1);
}
/*Hamburger Menu*/
.toggle-btn {
  display: flex;
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 3px solid white;
  justify-content: center;
  align-items: center;
}
.toggle-btn-burger {
  margin: 0 auto;
  width: 20px;
  height: 1px;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: all .5s ease-in-out;
}
.toggle-btn-burger::before,
.toggle-btn-burger::after {
  content: '';
  position: absolute;
  margin: 0 auto;
  width: 20px;
  height: 1.5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: all .5s ease-in-out;
}
.toggle-btn-burger::before {
  transform: translateY(-8px);
}
.toggle-btn-burger::after {
  transform: translateY(8px);
}
/*Animation*/
.toggle-btn.open .toggle-btn-burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.toggle-btn.open .toggle-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.toggle-btn.open .toggle-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.header-btn {
  text-decoration: none;
  color: white;
  font-family: var(--btn-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 13em;
  margin: 0 auto;
  background-color: var(--tri-color);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  display: block;
  border: none;
}
section {
  padding: 4rem 0;
}
.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.container-hero {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
}
.hero-content {
  text-align: center;
  padding: 2em;
  width: auto;
  max-width: 100em;
  color: white;
}
.hero-content h1 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 6.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5em;
}
.hero-content h2 {
  font-family: var(--header-font);
  margin-bottom: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0.5em 1.5em;
  text-align: center;
  color: #ffffff;
  background: var(--tri-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.hero {
  min-height: 99vh;
  display: grid;
}
.info-section {
  padding: 0 0 2em 0;
  background-color: var(--bg-orange);
}
.container-info {
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
  padding: 2em 0;
}
.info-header {
  text-align: center;
  color: white;
  font-size: 32px;
  margin-bottom: 2em;
  padding: 1em 0;
}
.grid-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 50px;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 10em;
  height: 100%;
  width: 85%;
  margin: 0 auto;
  padding: 4em 0;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 250px 250px 70px;
  grid-template-areas: "image" "text" "btn"; */
  grid-template-rows: 250px 250px;
  grid-template-areas: "image" "text";
  background: var(--main-color);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-top: 4em;
  max-width: 450px;
}
.card-icon {
  grid-area: image;
  align-self: flex-start;
  justify-self: center;
  position: absolute;
  top: -5em;
  background-color: black;
  padding: 2em;
  border-radius: 50%;
}
.card-body {
  grid-area: text;
  text-align: center;
  padding: 1em 2em;
  justify-self: center;
  align-self: center;
}
.card-body > h1 {
  font-family: var(--header-font);
  color: var(--white-color);
  font-size: 28px;
  padding-bottom: 0.5em;
}
.card-body > p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.card-img-div {
  grid-area: image;
}
.card-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.img1 {
  border-bottom: solid 3px var(--secondary-color);
  display: block;
  padding: 0;
}
.img2 {
  border-bottom: solid 3px var(--secondary-color);
  display: block;
}
.img3 {
  border-bottom: solid 3px var(--secondary-color);
  display: block;
}
/* .card-btn-div {
  grid-area: btn;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.card-btn {
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 0.5em 4em;
  border-radius: 25px;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary-color);
} */
.aboutwork-section {
  background: var(--bg-orange);
  padding: 4em 0em;
}
.container-about {
  padding: 0;
  max-width: 90%;
  overflow-y: hidden;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image" "body";
  /* border: solid 3px var(--white-color); */
  background-color: var(--grid-color);
  /*#384B63*/
 
}
.image-col {
  grid-area: image;
  max-height: 85vh;
  position: relative;
  padding: 2em;
}
.imgLg {
   width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow), 20px 20px 0px 3px rgba(86,61,103,1);
}
.body-col {
  max-height: 85vh;
  align-self: center;
}
.body-div {
  text-align: center;
  padding: 6em;
  color: var(--text-color);
}
.body-div > h1 {
  font-size: 5rem;
  font-family: var(--header-font);
  font-weight: regular;
}
.body-div > p {
  margin: 0 auto;
  margin-top: 2em;
  font-size: 2rem;
  font-family: var(--main-font);
  line-height: 230%;
  max-width: 90%;
}
.portfolio-section {
  background: var(--bg-orange);
  padding: 4em 0em 6em 0em;
}
.container-portfolio {
  padding: 0;
  max-width: 90%;
  overflow-y: hidden;
  /* background-color: rgba(86,61,103,1); */
}
.port-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.btn-section {
  max-width: 500px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 50px;
	text-align: center;
}
.portfolio-btn {
  text-align: center;
  width: 100%;
  max-width: 500px;
  min-width: auto;
  height: auto;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  background-color: var(--tri-color);
  font-size: 2rem;
  color: white;
  text-decoration: none;
  border: none;
  margin-bottom: 2.5em;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}
.body-col2 {
  grid-column: 1 / 2;
  align-self: center;
  max-height: 85vh;
  background-color: var(--grid-color);
}
.image-col2 {
  grid-column: 2 / 3;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  max-height: 85vh;
  height: 100%;
  align-self: center;
  background-color: rgba(86,61,103,1);
}
.image-col2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  
}
.span2 {
  grid-row: span 2;
}
.contact-wrap {
  position: relative;
  height: 65vh;
  background-color: var(--dark-color);
  display: grid;
}
.contact-bg {
  background: url('imgs/contactbanner.png');
  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-section {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  text-align: center;
  padding: 1em;
  align-self: center;
  justify-self: center;
  height: 90%;
  display: flex;
}
.container-contact {
  max-width: unset;
  padding: 2em 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-content {
  padding: 1.5em 0;
}
.contact-body {
  color: white;
  text-align: center;
  text-shadow: var(--text-shadow);
}
.contact-body > h1 {
  font-size: 5rem;
  padding-bottom: .5em;
  text-shadow: var(--text-shadow);
  font-weight: bold;
}
.contact-body > p {
  font-size: 1.8rem;
  margin: 0 auto;
  line-height: 35px;
  padding: 0rem 1rem 2rem 1rem;
  
}
.contact-body > h2 {
  font-size: 2.2rem;
  text-shadow: var(--text-shadow);
  font-weight: bold;
  padding-bottom: 2rem;
}
.contact-btn-div {
  max-width: 500px;
  width: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 50px;
  text-align: center;
  padding: .5em;
}
.contact-btn {
  text-align: center;
  width: 100%;
  max-width: 250px;
  min-width: auto;
  display: block;
  margin: 0 auto;
  background-color: var(--tri-color);
  font-size: 2rem;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: .5em;
}
.mobile-icon {
  padding-left: 15px;
}
footer {
  padding: 4em 0 2em 0;
  background-color: var(--main-color);
  text-align: center;
}
footer > p {
  color: white;
}
footer > p > span {
  border-right: solid 3px white;
  padding-right: 8px;
}
.footericon {
  padding-left: 8px;
  padding-right: 5px;
}
@media only screen and (max-width: 1520px) {
.about-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .5fr;
  grid-template-areas:
    "image"
    "body";
  max-height: unset;
}
.container-about {
  max-width: 90%;
}
.body-div {
  padding: 4em;
}
.body-div > h1 {
  font-size: 3rem;
}
.body-div > p {
  font-size: 2rem;
  max-width: 95%;
}
.container-portfolio {
  max-width: 95%;
}
.port-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .5fr;
}
.image-col2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.body-col2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  }
}
@media only screen and (max-width: 1250px) {
  /* CSS rules here */
  .grid-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(27rem, 1fr));
    grid-gap: 50px;
    justify-content: center;
    align-content: center;
    margin-top: 10em;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  .card-div-3 {
    grid-column: 1 / 3;
    max-width: none;
  }
  .card1 > h1 {
    font-size: 24px;
  }
  .card1 > p {
    font-size: 14px;
  }
  .card2 > h1 {
    font-size: 24px;
  }
  .card2 > p {
    font-size: 14px;
  }
  .image-col {
    max-height: 50vh;
  }
  .body-col {
    margin-top: 0em;
    max-height: 50vh;
  }
  .image-col2 {
    max-height: 50vh;
  }
 .body-col2 {
   max-height: 55vh;
 }
 .image-col {
  padding: 0;
}
 .imgLg {
  box-shadow: var(--box-shadow);
}
}
/* @media only screen and (max-width: 900px) {
  .contact-wrap {
    height: 90%;
  }
} */
@media only screen and (max-width: 800px) {
  /**Mobile Navigation**/
  .brand-title {
    max-width: 160px;
  }
  .toggle-btn {
    display: flex;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .navbar-links {
    display: none;
    width: 100%;
    background: var(--dark-color);
    margin-top: 2em;
  }
  .navbar-links ul{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .navbar-links li {
    text-align: center;
    margin: .3em;
    width: 60%;
  }
  .navbar-links li a {
    padding: .8em;
  }
  .header-btn {
    margin-top: .5em;
  }
  .navbar-links li:not(:last-child) {
    margin-right: 0;
  }
  .navbar-links.active {
    display: flex;
  }
  .contact-section {
    width: 100%;
    height: 100%;
  }
  /* .contact-wrap {
    height: 80%;
  } */
}
@media only screen and (max-width: 650px) {
  /* CSS rules here */
  .grid-info {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
  .card-div-3 {
    grid-column: unset;
    max-width: 450px;
  }
  .card1 > h1 {
    font-size: 28px;
  }
  .card1 > p {
    font-size: 16px;
  }
  .card2 > h1 {
    font-size: 28px;
  }
  .card2 > p {
    font-size: 16px;
  }
  .container-about {
    max-width: 90%;
  }
  .body-div {
    padding: 3em;
  }
  .body-div > h1 {
    font-size: 2.5rem;
  }
  .body-div > p {
    font-size: 1.7rem;
    line-height: 170%;
    max-width: unset;
    margin-top: 1em;
  }
  .container-portfolio {
    max-width: 90%;
  }
  .container-contact {
    padding: 0rem;
  }
  .contact-body > h1 {
    font-size: 3.5rem;
  }
  .contact-body > p {
    font-size: 1.8rem;
    max-width: 90%;
    padding: .5em;
  }
  .contact-section {
    height: 100%;
  }
 
  
}
@media only screen and (max-width:550px) { 
  /* CSS rules here */
  .brand {
    margin-left: 0;
  }
  .card-body > h1 {
    font-size: 2rem;
  }
  .card-body > p {
    font-size: 1.5rem;
  }
  .container-hero {
    padding: .3em .3em;
  }
  .hero-content h1 {
    font-size: 3.8rem;
  }
  .hero-content h2 {
    font-size: 2.5rem;
  }
  .hero-btn {
    font-size: 2.3rem;
    padding: 0.5em 1em;
  }
  .info-header {
    font-size: 24px;
  }
  .portfolio-btn {
    font-size: 1.5rem;
  }
  .contact-section {
    height: 100%;
    padding: .5em;
  }
  .contact-wrap {
    height: 600px
  }
}
@media only screen and (max-width:500px) {
  .image-col {
    max-height: 100%;
  }
  .body-col {
   max-height: 100%;
  }
  .image-col2 {
    max-height: 100%;
  }
  .body-col2 {
    max-height: 100%;
    padding: 0;
  }
  .contact-wrap {
    height: 600px
  }
  .contact-body > h1 {
    font-size: 3.2rem;
  }
  .contact-body > p {
    font-size: 1.5rem;
    max-width: 100%;
  }
}
@media only screen and (max-width:400px) { 
  /* CSS rules here */
  .navbar-links li {
    width: 80%;
  }
  .body-div > h1 {
    font-size: 2rem;
    max-width: 90%;
    margin: 0 auto;
  }
  .body-div > p {
    font-size: 1.4rem;
  }
  .brand-title {
    font-size: 1.5rem;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content h2 {
    font-size: 2.5rem;
  }
  .hero-btn {
    font-size: 1.5rem;
    padding: 0.5em 1em;
  }
  .contact-body > h1 {
    font-size: 3rem;
  }
  .contact-body > p {
    font-size: 1.3rem;
    max-width: 100%;
  }
}
