*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --main-color: #254b7c;
    --secondary-color: #0f9bdc;
    --tri-color: #ebac78;
    --white-color: #f5f5f5;
    --bg-orange: rgba(159, 98, 13, 0.8);
    --dark-color: rgba(0, 0, 0, 0.66);
    --main-font: "Montserrat", sans-serif;
    --header-font: "Montserrat Alternates", sans-serif;
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  overflow-x: hidden;
}
header {
    height: auto;
    z-index: 1000;
    /* position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1500; */
}
.main-wrap {
    background-color: var(--dark-color);
    height: 100%;
    border: solid
}
.sticky {
    z-index: 999;
    height: 10vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
    transition: 0.6s;
    height: auto;
    background-color: var(--main-color);
  }
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .brand-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: var(--text-shadow);
  }
  .brand-logo {
    height: 80px;
    width: auto;
  }
  .navbar-links ul {
    margin: 2em;
    padding: 0;
    display: flex;
  }
  .navbar-links li:not(:last-child) {
    margin-right: 3em;
  }
  .navbar-links:last-child {
    margin-right: 1em;
  }
  .navitem {
    list-style: none;
    font-weight: bold;
    border: none;
    border-radius: 10px;
  }
  .navlink,
  .current {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    border: none;
    font-size: 1.5rem;
    position: relative;
  }
  .navlink::before,
  .current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.1rem;
    background-color: var(--secondary-color);
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
  }
  .current::before {
    transform: scaleX(1);
  }
  .navlink:hover::before {
    transform: scaleX(1);
  }
  /*Hamburger Menu*/
  .toggle-btn {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
  }
  .toggle-btn-burger {
    margin: 0 auto;
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: all .5s ease-in-out;
  }
  .toggle-btn-burger::before,
  .toggle-btn-burger::after {
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: all .5s ease-in-out;
  }
  .toggle-btn-burger::before {
    transform: translateY(-8px);
  }
  .toggle-btn-burger::after {
    transform: translateY(8px);
  }
  /*Animation*/
  .toggle-btn.open .toggle-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .toggle-btn.open .toggle-btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .toggle-btn.open .toggle-btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .header-btn {
    text-decoration: none;
    color: white;
    font-family: var(--btn-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 13em;
    margin: 0 auto;
    background-color: var(--tri-color);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    display: block;
    border: none;
  }
  .portfolio-wrap {
      margin-top: 8rem;
      border: solid green;
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 5em;
      
  }
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 20px;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 10em;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    border: solid yellow;
  }
  .portfolio-item {
      border: solid red;
  }
  .grid-img {
    max-width: 100%;
    max-height: 100%;
  }
  @media only screen and (max-width: 770px) {
    /**Mobile Navigation**/
    .brand-title {
      max-width: 160px;
    }
    .toggle-btn {
      display: flex;
    }
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
    .navbar-links {
      display: none;
      width: 100%;
      background: var(--dark-color);
      margin-top: 2em;
    }
    .navbar-links ul{
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .navbar-links li {
      text-align: center;
      margin: .3em;
      width: 60%;
    }
    .navbar-links li a {
      padding: .8em;
    }
    .header-btn {
      margin-top: .5em;
    }
    .navbar-links li:not(:last-child) {
      margin-right: 0;
    }
    .navbar-links.active {
      display: flex;
    }
  }


  /*use this later grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));/*