/*Font Imports*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
/*Font Import End*/
/*Custom Properties*/
:root {
  --leading: 2em;
}
/*End Custom Properties*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.hero-bg {
  background: #307d99 url("imgs/bg.jpg");
  background-position: 12% 83%;
  background-repeat: repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-bottom: 4em;
  height: 100vh;
}
header {
  padding: 1em 0;
}
p {
  line-height: var(--leading);
}
header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
section.top {
  margin: 0 1em;
}
.hero-bg h1 {
  font-size: 2.5rem;
  margin: 2em 0 1em 0;
}
h1 span {
  text-transform: uppercase;
  display: block;
  font-size: 1.3rem;
  position: relative;
  z-index: 1;
}
h1 span::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 3em;
  background: #00bfff;
  height: 0.4em;
  z-index: -1;
  margin-left: -0.5em;
}
.hero-bg p {
  font-weight: bold;
  margin: 0 0.8em 3em 0.8em;
}
.form-container {
  background-color: white;
  margin: 2em -1em 0 -1em;
  padding: 2em;
}
.form-container label {
  color: #2d7d98;
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
  font-size: 1.2rem;
}
.form-container input[type="text"] {
  border: 1px solid #707070;
  border-radius: 0.8em;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  margin-top: 1.2em;
}
.form-container p {
  margin-top: 0.8em;
  margin-bottom: 1.5em;
  color: grey;
  font-size: 0.9em;
}
.form-container input[type="button"] {
  background-color: #f89104;
  border: none;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  border-radius: 0.5em;
  font-size: 1.3em;
  cursor: pointer;
}
.form-container input[type="button"]:hover {
  background-color: #db850f;
}
section.bot {
  margin: 0;
}
.right-col {
  margin: 0 1em;
  text-align: center;
}
.right-col h2 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.right-col h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 6em;
  background: #00bfff;
  height: 0.4em;
  z-index: -1;
  margin-left: -0.6em;
}
section.bot img {
  width: 100%;
}

@media (min-width: 750px) {
  section.top {
    margin: 0 4em;
  }
  section.bot {
    margin: 0 4em;
  }
  .form-container {
    margin: 2em -4em 0 -4em;
  }
}
@media (min-width: 950px) {
  .hero-bg {
    text-align: left;
  }
  .hero-bg p {
    margin: 0 0 3em 0;
  }
  .hero-bg section {
    width: 65%;
  }
  .form-container {
    margin: 5em 0 0 0;
    border-radius: 0.8em;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  }
  form {
    display: flex;
  }
  .form-left {
    width: 70%;
  }
  .form-container label {
    margin: 0;
  }
  .form-container input[type="button"] {
    height: 2.8em;
    font-size: 1.1em;
    margin-left: 1em;
    margin-top: 2.2em;
    padding: 0.7em 0;
    width: 40%;
  }
  .hero-bg p {
    margin-bottom: 3em;
  }
  section.bot {
    margin: 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "bowl content";
  }
  div.right-col {
    grid-area: content;
    padding: 0 2em;
    text-align: left;
  }
  section.bot img {
    grid-area: bowl;
  }
  div.right-col h2 {
    margin-bottom: -0.3em;
  }
}

section.top {
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
