*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: VALORANT;
    src: url("Valorant_Font.ttf");
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url(body-bg.png);
    background-position: center;
    background-size: fill;
    font-family: VALORANT;
}
h1 {
    text-align: center;
    color: white;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    padding: 1em;
}
.grid-content {
    height: 100%;
    width: 100%;
    position: relative;
}
.image-content {
    height: 100%;
    width: 100%;
}
.shield-cell {
    padding: 2.5em;
}
.weapon-title {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: white;
}
.shield-title {
    position: absolute;
    bottom: 10px;
    left: 30%;
    color: white;
}
.wrapper {
    height: 100vh;
}
.main-grid {
    margin: 13px;
    display: grid;
    height: 95vh;
    grid-template-areas: "pistols guns armor"
                         "pistols guns armor"
                         "pistols guns armor"
                         "pistols guns armor"
                         "pistols guns armor"
                         "pistols guns armor";
    grid-template-columns: .3fr 1.3fr .4fr;
    grid-template-rows: .5fr repeat(5, 1fr);
    gap: 14px;
}
.pistols-grid {
    display: grid;
    grid-template-areas: "title"
                         "classic"
                         "shorty"
                         "frenzy"
                         "ghost"
                         "sheriff";
    grid-area: pistols;
    grid-template-rows: .25fr repeat(5, minmax(100px, 1fr));
    grid-gap: 7px;
}
.guns-grid {
    display: grid;
    grid-area: guns;
    grid-template-rows: .2fr repeat(4, minmax(100px, 1fr));
    grid-template-columns: 1fr 1.2fr 1.3fr;
    grid-template-areas: "smgs rifles sniper"
                         "stinger bulldog marshal"
                         "spectre gurdian op"
                         "bucky phantom ares"
                         "judge vandal odin";
    grid-gap: 7px;
}
.armor-grid {
    display: grid;
    grid-area: armor;
    grid-template-rows: .2fr repeat(4, 1fr);
    grid-template-areas: "title"
                         "light"
                         "light"
                         "heavy"
                         "heavy";
    grid-gap: 7px;
}
.grid-item {
    background: rgba(82, 77, 73, 0.66);
}
.grid-item:hover {
    background: rgba(76, 171, 153, 0.9);
}
.grid-item:hover .image-content {
    transition-duration: .3s;
    border: solid #55CCB0;
}
/*Weapon cells*/
.classic-cells {
    grid-area: classic;
}
.short-cell {
    grid-area: shorty;
}
.frenzy-cell {
    grid-area: frenzy;
}
.ghost-cell {
    grid-area: ghost;
}
.sheriff-cell {
    grid-area: sheriff;
}
.stinger-cell {
    grid-area: stinger;
}
.spectre-cell {
    grid-area: spectre;
}
.bucky-cell {
    display: grid;
    grid-template-areas:"title"
                        "bucky";
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .8fr;
    grid-area: bucky;
    margin-top: .5em;
}
.bucky {
    grid-area: bucky;
}
.judge-cell {
    grid-area: judge;
}
.bulldog-cell {
    grid-area: bulldog;
}
.gurdian-cell {
    grid-area: gurdian;
}
.phantom-cell {
    grid-area: phantom;
}
.vandal-cell {
    grid-area: vandal;
}
.marshel-cell {
    grid-area: marshel;
}
.op-cell {
    grid-area: op;
}
.ares-cell {
    display: grid;
    grid-area: ares;
    display: grid;
    grid-template-areas:"title"
                        "ares";
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr;
    margin-top: .5em;
}
.ares {
    grid-area: ares;
}
.odin-cell {
    grid-area: odin;
}
.light-cell {
    grid-area: light;
}
.heavy-cell {
    grid-area: heavy;
}
/*Weapon titles*/
.sidearms-title {
    grid-area: title;
    background: rgba(43, 193, 164, 0.5);
}
.smgs-title {
    grid-area: smgs;
    background: rgba(43, 193, 164, 0.5);
}
.rifles-title {
    grid-area: rifles;
    background: rgba(43, 193, 164, 0.5);
}
.sniper-title {
    grid-area: sniper;
    background: rgba(43, 193, 164, 0.5);
}
.armor-title {
    grid-area: title;
    background: rgba(43, 193, 164, 0.5);
}
.shotguns-title {
    grid-area: title;
    background: rgba(43, 193, 164, 0.4);
}
.heavy-title {
    grid-area: title;
    background: rgba(43, 193, 164, 0.4);
}
.doublegrid-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}