html {
  font-size: 10px;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  height: 7.8em;
  padding: 0.5em 0;
  background: rgb(86, 163, 237);
  background: linear-gradient(
    90deg,
    rgba(86, 163, 237, 0.7035014689469538) 0%,
    rgba(119, 241, 139, 0.7623249983587185) 69%
  );
 
}
body {
  margin: 0;
  padding: 0;
}
#logo {
  display: flex;
  width: 80%;
  
}
#logo-img {
  width: 12rem;
  padding-left: 4em;
  padding-top: 2em;
}
#logo-text {
  text-align: center;
  align-self: center;
  font-size: 2em;
  padding: 0 0.5em;
  font-family: Helvetica, sans-serif;
  color: white;
 
}
#navbar {
  display: flex;
  justify-content: flex-start;
  width: auto;
 
}
#navbar ul {
  display: flex;
}
#navbar li {
  list-style: none;
  padding-right: 4em;
  font-size: 2rem;
}
.navlink {
  text-decoration: none;
  color: white;
}

.navlink:hover {
  color: green;
  transition-duration: 0.3s;
}

.header-contact {
  width: 75%;
  text-align: center;
  font-size: 2rem;
  color: white;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15em 0;
}
.hero-bg {
  background-image: radial-gradient(
      circle,
      rgba(240, 147, 41, 1) 0%,
      rgba(104, 170, 210, 0.798739564185049) 0%,
      rgba(148, 165, 233, 0.8015406846332283) 100%
    ),
    url(https://images.sherwin-williams.com/content_images/sw-img-livingroom-17-hdr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
}
.banner {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border: solid red;
  width: 50em;
}
.banner h1 {
  font-size: 4rem;
}
.banner h2 {
  font-size: 3.5rem;
}
.banner p {
  font-size: 2rem;
}
#container {
  background-color: honeydew;
  border: solid purple;
  text-align: center;
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: center;
  height: 80em;
}
#container-header {
  color: black;
}
#container h1 {
  font-size: 3rem;
}
.linethrough {
  line-height: 0.5;
  text-align: center;
}
.linethrough span {
  display: inline-block;
  position: relative;
}
.linethrough span:before,
.linethrough span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid skyblue;
  border-top: 3px solid skyblue;
  top: 0;
  width: 100%;
}
.linethrough span:before {
  right: 100%;
  margin-right: 15px;
}
.linethrough span:after {
  left: 100%;
  margin-left: 15px;
}
#minicontainer {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33em;
  padding: 2em 2em;
  border: 2px solid black;
  box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
}
.boxdata {
  color: black;
}
.box img {
  width: 8em;
  height: 8em;
  margin: 0 auto;
}
.box h2 {
  font-size: 2.5rem;
}
.box p {
  font-size: 1.6rem;
  line-height: 170%;
}
#grid-section {
  text-align: center;
  padding: 6em 2em .5em 2em;
  border: solid cyan;
}
.grid-intro {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 6rem;
  font-size: 2rem;
}
#grid-start {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 2em 0em; /**look at this padding switches to 0 when under anything but desktop height**/
  margin-bottom: 6rem;
  border: solid black;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}
.project-thumb {
  
  width: 90%;
  border: solid black;
}
.project-block {
  padding: 1em;
}
.project-title {
  width: 90%;
  margin: 1em auto;
  font-size: 1.5rem;
  background: #0e153a;
  border: solid black 0.3em;
  text-decoration: none;
  color: #e2f3f5;
}
.button {
  display: flex;
  justify-content: center;
  padding: 6em 0em;
  
}
.btn {
  background-color: palegreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn:hover {
  color: black;
  transition-duration: .3s;
  font-size: 2em;
  background-color: paleturquoise;
  
}
.btnSpan {
  font-size: 1.2em;
  animation-name: blinkingText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  padding-left: 1em;
}
@keyframes blinkingText{
  0%{     color: whitesmoke;    }
  49%{    color: whitesmoke; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: whitesmoke;    }
}
#contactSection {
  width: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "image content";
  border: solid black;
}
#contactSection h1 {
  font-size: 3rem;
}
#left-column {
  grid-area: image;
  padding: 0;
}
#right-column {
  grid-area: content;
  text-align: center;
  
}
#right-column h2 {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 3rem;
}
#right-column h2::before {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 2em;
  background: #00bfff;
  height: 0.3em;
  z-index: -1;
  margin-left: -0.4em;
}
#right-column-txt {
  padding: 1em 2em;
  
}
.right-column-p {
  font-size: 1.5rem;
  line-height: 150%;
  padding: 0 2em;
}
.contactImage {
  width: 100%;
  height: 100%;
}


/** Media Q start **/
@media only screen and (max-width: 1330px) {
  #logo {
    display: flex;
    width: 80%;
    border: none;
  }
  #logo-img {
    width: 12rem;
    padding-left: 4em;
    padding-top: 2em;
  }
  #container {
    height: 100%;
  }
  #minicontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 8em 2em;
  }
  .box {
    display: flex;
    width: 100%;
    padding: 2em 0;
    border: none;
    box-shadow: none;
  }
  .box h2 {
    padding: 1em;
  }
  .box img {
    width: 10em;
    height: 10em;
    margin: 0 auto;
    padding: 0em 1em;
  }
  .box p {
    line-height: 150%;
    padding: 0.5em;
    text-align: left;
    font-size: 1.5rem;
  }
  .boxdata {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15em;
    border: 2px solid black;
    align-items: center;
    box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
@media only screen and (max-width: 1100px) {
  #logo {
    display: flex;
    width: 80%;
    border: none;
  }
  #logo-img {
    width: 12rem;
    padding-left: 4em;
    padding-top: 2em;
  }
  .box p {
    line-height: 170%;
  }
  .header-contact {
    display: none;
   }
}
@media only screen and (max-width:800px) { 
	header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0em 0;
    background: rgb(86, 163, 237);
    background: linear-gradient(
      90deg,
      rgba(86, 163, 237, 0.7035014689469538) 0%,
      rgba(119, 241, 139, 0.7623249983587185) 69%
    );
   
  }
  #logo {
    display: flex;
    padding-left: 0em;
    width: 100%;
    height: 10em;
    border: none;
    justify-content: center;
  }
  #logo-img {
    width: 10em;
    padding-left: 0em;
    padding-top: 0em;
  }
  #logo-text {
    text-align: center;
    align-self: center;
    font-size: 2em;
    padding: 0em;
    font-family: Helvetica, sans-serif;
    color: white;
   
  }
  #navbar {
    display: flex;
    justify-content: center;
    width: auto;
    border: solid orange;
   
  }
  #navbar ul {
    display: flex;
    justify-content: space-evenly;
  }
  #navbar li {
    list-style: none;
    padding-right: 2em;
    padding-left: 0.5em;
    font-size: 2rem;
  }
  .header-contact {
   display: none;
  }
}

@media only screen and (max-width: 800px) {
  #container {
    height: 100%;
  }
  #minicontainer {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
  }
  .box {
    display: flex;
    flex-direction: column;
    width: 30em;
    padding: 1em 2em;
    margin-bottom: 2em;
  }
  .box img {
    padding: 2em 0em 0.3em 0em;
  }
  .box p {
    line-height: 180%;
    text-align: center;
    padding: 1em;
  }
  .boxdata {
    display: flex;
    flex-direction: column;
    width: 50em;
    align-self: center;
    height: 100%;
  }
  #grid-start {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #contactSection {
    display: flex;
    flex-direction: column;
    
  }
  #right-column {
   height: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  #right-column-txt {
    padding: 1em 2em;
    height: auto;
    
  }
  .right-column-p {
    line-height: 2em;
    font-size: 1.5em;
  }
 
  #left-column {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .boxdata {
    width: auto;
  }
}
