html {
  font-size: 10px;
  overflow-x: ;
}
header {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  background: rgb(86, 163, 237);
  background: linear-gradient(
    90deg,
    rgba(86, 163, 237, 0.7035014689469538) 0%,
    rgba(119, 241, 139, 0.7623249983587185) 69%
  );
}
body {
  margin: 0;
  padding: 0;
}
#logo {
  padding-left: 5em;
  width: 20%;
  border: solid purple;
}
#logo-img {
  width: 7em;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: solid orange;
}
#navbar ul {
  display: flex;
}
#navbar li {
  list-style: none;
  padding-right: 4em;
  font-size: 2.2rem;
}
.navlink {
  text-decoration: none;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15em 0;
}
.hero-bg {
  background-image: radial-gradient(
      circle,
      rgba(240, 147, 41, 1) 0%,
      rgba(104, 170, 210, 0.798739564185049) 0%,
      rgba(148, 165, 233, 0.8015406846332283) 100%
    ),
    url(https://images.sherwin-williams.com/content_images/sw-img-livingroom-17-hdr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
}
.banner {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border: solid red;
  width: 50em;
}
.banner h1 {
  font-size: 4rem;
}
.banner h2 {
  font-size: 3.5rem;
}
.banner p {
  font-size: 2rem;
}
#container {
  background-color: honeydew;
  border: solid purple;
  text-align: center;
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: center;
  height: 80em;
}
#container-header {
}
#container h1 {
  font-size: 3rem;
}
.linethrough {
  line-height: 0.5;
  text-align: center;
}
.linethrough span {
  display: inline-block;
  position: relative;
}
.linethrough span:before,
.linethrough span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid skyblue;
  border-top: 3px solid skyblue;
  top: 0;
  width: 100%;
}
.linethrough span:before {
  right: 100%;
  margin-right: 15px;
}
.linethrough span:after {
  left: 100%;
  margin-left: 15px;
}
#minicontainer {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 8em 2em;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33em;
  padding: 2em 2em;
  border: 2px solid black;
  box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
}
.boxdata {
}
.box img {
  width: 8em;
  height: 8em;
  margin: 0 auto;
}
.box h2 {
  font-size: 2.5rem;
}
.box p {
  font-size: 1.8rem;
  line-height: 150%;
}
#grid-start {
  border: solid black;
}
.grid-intro {
  text-align: center;
}

/** Media Q start **/
@media only screen and (max-width: 1330px) {
  #container {
    height: 100%;
  }
  #minicontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 8em 2em;
  }
  .box {
    display: flex;
    width: 100%;
    padding: 2em 0;
    border: none;
    box-shadow: none;
  }
  .box h2 {
    padding: 1em;
  }
  .box img {
    width: 10em;
    height: 10em;
    margin: 0 auto;
    padding: 0em 1em;
  }
  .box p {
    line-height: 150%;
    padding: 0.5em;
    text-align: left;
    font-size: 1.5rem;
  }
  .boxdata {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15em;
    border: 2px solid black;
    align-items: center;
    box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
@media only screen and (max-width: 1000px) {
  .box p {
    line-height: 130%;
  }
}

@media only screen and (max-width: 800px) {
  #container {
    height: 100%;
  }
  #minicontainer {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
  }
  .box {
    display: flex;
    flex-direction: column;
    width: 30em;
    padding: 1em 2em;
    margin-bottom: 2em;
  }
  .box img {
    padding: 2em 0em 0.3em 0em;
  }
  .box p {
    line-height: 150%;
    text-align: center;
  }
  .boxdata {
    display: flex;
    flex-direction: column;
    width: 43em;
    align-self: center;
    height: 100%;
  }
}
